<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
   
   <resultMap id="noticeResultSet" type="Notice">
      <id property="nid" column="nid"/>
      <result property="ntype" column="ntype"/>
      <result property="nwriter" column="nwriter"/>
      <result property="ntitle" column="ntitle"/>
      <result property="ncontent" column="ncontent"/>
      <result property="n_file_name" column="n_file_name"/>
      <result property="n_rfile_name" column="n_rfile_name"/>
      <result property="n_date" column="n_date"/>
      <result property="n_modfiy_date" column="n_modfiy_date"/>
      <result property="ncount" column="ncount"/>
      <result property="nstatus" column="nstatus"/>
   </resultMap>
   
   <resultMap id="noticeTop3ResultSet" type="Notice">
      <id property="nid" column="nid"/>
      <result property="ntype" column="ntype"/>
      <result property="ntitle" column="ntitle"/>
      <result property="n_date" column="n_date"/>
      <result property="ncount" column="ncount"/>
   </resultMap>
   
   <select id="selectNewNoticeList" parameterType="com.ict.hhw.notice.model.vo.NoticePage" resultMap="noticeResultSet">
      <![CDATA[
        SELECT *
          FROM (
                 SELECT ROWNUM RNUM
               , NID
               , NTYPE
               , NWRITER
               , NTITLE
               , NCONTENT
               , N_FILE_NAME
               , N_RFILE_NAME
               , N_DATE
               , N_MODFIY_DATE
               , NCOUNT
               , NSTATUS
           FROM (
           SELECT *
           FROM NOTICE
           WHERE NSTATUS = 'Y'
          ORDER BY NID DESC))
          WHERE RNUM >= #{ startRow }
          AND RNUM <= #{ endRow }
                ]]>
   </select>
   
   
   <select id="getListCount" resultType="_int">
      select count(*)
        from notice
   </select>
   
   
  <update id="updateNCount" parameterType="_int">
      update notice
         set ncount = ncount + 1
         where nid = #{ NID }
   </update>
   
   
   <select id="selectAll" resultMap="noticeResultSet">
      select * from notice
      order by nid desc
   </select>
   
   <select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
      select * from notice
      where nid = #{nid}
   </select>
   
   <select id="selectNewTop3" resultMap="noticeTop3ResultSet">
   		<![CDATA[
   		select *
   		from (select rownum rnum
   			, nid
   			, ntype
   			, ntitle
   			, n_Date
   			, ncount
   			from (select * from notice 
   				  order by nid desc))
   		where rnum >= 1 and rnum <= 5
   		]]>
   </select>
   
   <insert id="insertNotice" parameterType="Notice">
      insert into notice
      <if test="n_file_name != null">
      values (seq_nid.nextval
      		, #{ ntype }
      		, #{ nwriter }
      		, #{ ntitle }
      		, #{ ncontent }
      		, #{ n_file_name }
      		, #{ n_rfile_name }
      		, sysdate
      		, sysdate
      		, default
      		, default)
      </if>
      <if test="n_file_name == null">
      values (seq_nid.nextval
      		, #{ ntype }
      		, #{ nwriter }
      		, #{ ntitle }
      		, #{ ncontent }
      		, null
      		, null
      		, sysdate
      		, sysdate
      		, default
      		, default)
      </if>
   </insert>
   
    <update id="updateNotice" parameterType="Notice">
      update notice
      set ntitle = #{ ntitle },
         ncontent = #{ ncontent }
         <if test="n_file_name != null">
         , n_file_name = #{ n_file_name }
         </if>
         <if test="n_file_name == null">
         , n_file_name = null
         </if>
      where nid = #{ nid }
   </update>
   
   <delete id="deleteNotice" parameterType="_int">
      delete from notice
      where nid = #{ nid }
   </delete>

   <select id="searchTitle" parameterType="string" resultMap="noticeResultSet">
   		select * from notice
   		where ntitle like '%' || #{ keyword } || '%'
   </select>
	
   <select id="searchWriter" parameterType="string" resultMap="noticeResultSet">
   		select * from notice
   		where nwriter like '%' || #{ keyword } || '%'
   </select>
   
   <select id="searchDate" parameterType="com.ict.hhw.common.SearchDate" resultMap="noticeResultSet">
   		select * from notice
   		where n_date between #{ begin } and #{ end }
   </select>
	
</mapper>









