<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paymentMapper">

	<resultMap id="paymentResultSet" type="Payment">
		<id property="payid" column="payid" />
		<result property="member" column="MEMBER" />
		<result property="sort" column="SORT"/>
		<result property="price" column="PRICE" />
		<result property="paypg" column="PAYPG" />
		<result property="paydate" column="PAYDATE" />
	</resultMap>

	<!-- 결제내역 추가 -->
	<insert id="insertPayment" parameterType="Payment">
		INSERT
		INTO PAYMENT
		VALUES(
		SEQ_PAYID.NEXTVAL,
		#{ member },
		'충전',
		#{ price },
		DEFAULT,
		SYSDATE
		)
	</insert>
	
	<!-- 보유 포인트 ajax -->
	<select id="selectPoint" parameterType="string" resultType="_int">
	select sum(price) from payment where member = #{nickname}
	</select>
	
	<!-- 결제내역 리스트 -->
	<select id="selectPList" parameterType="string"
		resultMap="paymentResultSet">
	SELECT * FROM PAYMENT WHERE MEMBER = #{ member }
	</select>
	
	<!-- payinfo 날짜 조회 -->
	<select id="psearchDate" parameterType="com.ict.hhw.common.PayInfoSearchDate" resultMap="paymentResultSet">
	select * from payment
	where paydate between #{ begin } and #{ end }
	and member = #{ member }
	</select>
	
	
	

</mapper> 






























