<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pboardMapper">

	<resultMap type="P_board" id="resultPboard">
		<id column="pid" property="pid" />
		<result column="p_proid" property="p_proid" />
		<result column="pwriter" property="pwriter" />
		<result column="ptitle" property="ptitle" />
		<result column="pcontent" property="pcontent" />
		<result column="p_file_name" property="p_file_name" />
		<result column="p_rfile_name" property="p_rfile_name" />
		<result column="p_date" property="p_date" />
		<result column="p_modify_date" property="p_modify_date" />
		<result column="pcount" property="pcount" />
		<result column="pstatus" property="pstatus" />
	</resultMap>

	<select id="selectList" parameterType="_int" resultMap="resultPboard">
		SELECT *
		FROM P_BOARD
		WHERE P_PROID = #{ pro_id }
		AND PSTATUS = 'Y'
		ORDER BY PID DESC
	</select>
	
	<select id="selectOldList" parameterType="_int" resultMap="resultPboard">
		SELECT *
		FROM P_BOARD
		WHERE P_PROID = #{ pro_id }
		AND PSTATUS = 'Y'
		ORDER BY PID
	</select>

	<select id="getListCount" parameterType="_int" resultType="_int">
		select count(*)
		from p_board
	</select>

	<select id="searchTitle"
		parameterType="com.ict.hhw.common.SearchAndPage"
		resultMap="resultPboard">
		SELECT *
		FROM P_BOARD
		WHERE PSTATUS = 'Y'
		AND PTITLE LIKE '%'
		|| #{ keyword } || '%'
		AND P_PROID = #{ p_proid }
		ORDER BY PID DESC

	</select>

	<select id="searchWriter"
		parameterType="com.ict.hhw.common.SearchAndPage"
		resultMap="resultPboard">
		SELECT *
		FROM P_BOARD
		WHERE PSTATUS = 'Y'
		AND PWRITER LIKE '%' || #{ keyword } || '%'
		AND P_PROID = #{ p_proid }
		ORDER BY PID DESC
	</select>

	<select id="searchDate"
		parameterType="com.ict.hhw.common.SearchAndPage"
		resultMap="resultPboard">
		SELECT *
		FROM BOARD
		WHERE B_STATUS = 'Y'
		AND P_PROID = #{ p_proid }
		and b_create_date between #{ begin } and #{ end }
		ORDER BY BID DESC
	</select>

	<select id="getSearchTitleListCount" parameterType="string"
		resultType="_int">
		select count(*) from p_board
		where ptitle like '%' || #{
		keyword } || '%'
	</select>

	<select id="getSearchWriterListCount" parameterType="string"
		resultType="_int">
		select count(*) from p_board
		where pwriter like '%' || #{
		keyword } || '%'
	</select>

	<select id="getSearchDateListCount"
		parameterType="com.ict.hhw.common.SearchDate" resultType="_int">
		select
		count(*) from p_board
		where p_date between #{ begin } and #{ end }
	</select>

	<select id="selectPboard" parameterType="_int"
		resultMap="resultPboard">
		select * from p_board
		where pid = #{ pid }
	</select>

<insert id="insertPboard" parameterType="P_board">
      
      INSERT 
        INTO P_BOARD
      <if test="p_file_name != null"><!-- 첨부파일이 있을 때 -->
      values (
              seq_pid.nextval
            , #{ p_proid }
            , #{ pwriter }
            , #{ ptitle }
            , #{ pcontent }
            , #{ p_file_name }
            , #{ p_rfile_name }
            , sysdate
            , sysdate
            , default
            , default
             )
      </if>
      <if test="p_file_name == null"><!-- 첨부파일이 없을 때 -->
      values (
              seq_pid.nextval
             , #{ p_proid }
            , #{ pwriter }
            , #{ ptitle }
            , #{ pcontent }
            , null
            , null
            , sysdate
            , sysdate
            , default
            , default
             )
      </if>
   </insert>

	<update id="updatePCount" parameterType="_int">
		update p_board
		set pcount
		=
		pcount + 1
		where pid = #{ pid }
	</update>

	<update id="updatePboard" parameterType="P_board">
		update p_board
		set ptitle = #{ ptitle },
		pcontent = #{ pcontent },
		P_MODFIY_DATE = sysdate
		<if test="p_file_name == null">
			, p_file_name = null,
			p_rfile_name = null
		</if>
		<if test="p_file_name != null">
			, p_file_name = #{ p_file_name },
			p_rfile_name = #{ p_rfile_name }
		</if>
		where pid = #{ pid }
	</update>

	<update id="changePstatusN" parameterType="_int">
		UPDATE P_BOARD
		SET PSTATUS = 'N', P_MODFIY_DATE = SYSDATE WHERE PID = #{ pid }
	</update>
	
	<update id="updateDeadline" parameterType="Progress">
		UPDATE PROGRESS
		SET PRO_DEADLINE = #{ pro_deadline }
		WHERE PRO_ID = #{ pro_id }
	</update>
	
	<update id="processMinus" parameterType="_int">
		UPDATE PROGRESS
		SET PRO_PROCESS = PRO_PROCESS - 10
		WHERE PRO_ID = #{ pro_id }
	</update>
	
	<update id="processPlus" parameterType="_int">
		UPDATE PROGRESS
		SET PRO_PROCESS = PRO_PROCESS + 10
		WHERE PRO_ID = #{ pro_id }
	</update>
	
	<update id="updateStatus" parameterType="_int">
		UPDATE PROGRESS
		SET PRO_STATUS = 'C'
		WHERE PRO_ID = #{ pro_id }
	</update>

</mapper>